@font-face {
    font-family: "Work Sans";
    src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    background: #f7eefe;
    display: flex;
    justify-content: center;
    padding: 150px 20px;
    height: 100vh;
    position: relative;
}

/* Top purple background */
.bg-top {
    background-image: url(./assets/images/background-pattern-desktop.svg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    z-index: -1;
}

/* Card */
.card {
    background: white;
    border-radius: 18px;
    width: 600px;
    height: fit-content;
    padding: 40px;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.icon-star {
    font-size: 46px;
    color: #8f32ff;
    display: inline;
    margin-right: 10px;
}

h1 {
    font-size: 46px;
    font-weight: 700;
    display: inline;
}

/* FAQ items */
.container-faq {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq-item {
    border-bottom: 1px solid #ededed;
    padding: 18px 0;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .3s ease-in;

    &:hover {
        color: #8f32ff;
    }
}

.faq-question span {
    font-weight: 600;
    font-size: 17px;
    text-wrap: wrap;
    width: 90%;
}

.toggle {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 50%;
    background: #8f32ff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
}

.faq-answer .answer {
    margin-top: 12px;
    font-size: 15px;
    color: #6f6f6f;
    line-height: 1.6;
    display: none;
}

.faq-answer .answer.open {
    display: block;
}

/* Responsive */
@media (max-width: 500px) {
    .bg-top {
        background-image: url(./assets/images/background-pattern-mobile.svg);
    }

    .card {
        padding: 28px;
    }

    .icon-star {
        font-size: 28px;
    }

    h1 {
        font-size: 28px;
    }
}